affine==2.2.0
attrs==17.4.0
click==6.7
click-plugins==1.0.3
cligj==0.4.0
cycler==0.10.0
Fiona==1.7.11.post1
GDAL==2.2.4
kiwisolver==1.0.1
matplotlib==2.2.2
munch==2.2.0
numpy==1.14.2
Pillow==5.1.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
rasterio==1.0a12
rasterstats==0.12.1
Shapely==1.6.4.post1
simplejson==3.13.2
six==1.11.0
snuggs==1.4.1
